<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
    async function get_pagination_list(url){
        if (url == null){
            url = "http://127.0.0.1:8000/?page_size=5"
        };
        const response = await fetch(url,{
            method: "GET",
            'content-type': "application/json",
        })

        response_json = await response.json()
        console.log(response_json)

        const list_box = document.querySelector(".list_box");
        list_box.innerHTML = ''

        console.log(response_json['results'])

        response_json['results'].forEach(data => {
            // append를 이용하기 위해서 div 생성
            const article = document.createElement('div')
            // class 명 지정
            article.className = 'item-mygallery';
            // innerHTML로 원하는 형태로 데이터 출력
            article.innerHTML = `
            <div class="box-text-data">
                <p>유저 : ${data.user}</p>
                <p>제목 : ${data.title}</p>
                <p>내용 : ${data.content}</p>
                <hr>
            </div>`
            list_box.append(article)
        })
        console.log(response_json['previous'])
        
        const previous_div = document.querySelector(".previous")
        previous_div.innerHTML =''
        
        const next_div = document.querySelector(".next")
        next_div.innerHTML =''

        if (response_json['previous'] != null){
            const previous_btn = document.createElement('span')
            previous_btn.classNAme = 'previous_btn';
            previous_btn.innerHTML= `<button type="button" onclick='get_pagination_list("${response_json['previous']}")'>이전</button>`;
            previous_div.append(previous_btn)
        }
        if (response_json['next'] != null){
            const next_btn = document.createElement('span')
            next_btn.classNAme = 'next_btn';
            next_btn.innerHTML= `<button type="button" onclick='get_pagination_list("${response_json['next']}")'>다음</button>`;
            next_div.append(next_btn)
        }


    }
    get_pagination_list()
    
</script>
<body>
    <h1>페이지네이션 테스트</h1>
    <div class="list_box">
        
    </div>
    
    <div class="previous"></div>
    <div class="next"></div>
</body>
</html>